<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1057101437620-eebl8jm6fpt8ilslf8lfhd34sgfud40v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057101437620-eebl8jm6fpt8ilslf8lfhd34sgfud40v</string>
	<key>API_KEY</key>
	<string>AIzaSyCGMOu3d3vkm2UaBci7exRLsH_q_qIBP94</string>
	<key>GCM_SENDER_ID</key>
	<string>1057101437620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rafup.poc</string>
	<key>PROJECT_ID</key>
	<string>rafup-25aaa</string>
	<key>STORAGE_BUCKET</key>
	<string>rafup-25aaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057101437620:ios:34239a2e480bed60</string>
	<key>DATABASE_URL</key>
	<string>https://rafup-25aaa.firebaseio.com</string>
</dict>
</plist>